<div .container>
  <div .row .my-5 .d-flex .justify-content-center>
    <h1 .display-1 .my-1>
      Donna
    <h2 .display-4 .my-1 .text-center>
      Personal Relationship Management
  <div .row .d-flex .justify-content-center>
      <a .btn .btn-primary .btn-lg href=@{AuthR LoginR}>
        Get started

